@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ヘッダー ------------------------------*/
.l-header {
  height: 80px;
  width: 100%;
  background: #fff;
  /* ロゴ */
  /* ナビゲーション */
  /* ハンバーガーメニュー */
}
.l-header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  margin: auto;
}
.l-header__logo {
  line-height: 60px;
  margin-left: 45px;
}
.l-header__logo img {
  height: 32px;
  vertical-align: middle;
}
.l-header__logo img:hover {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}
.l-header__navi {
  line-height: 80px;
}
.l-header__items {
  display: flex;
  list-style: none;
}
.l-header__item:not(:last-child) {
  margin-right: 32px;
}
.l-header__item:last-child {
  background: #074466;
}
.l-header__item:last-child a {
  padding: 0 60px;
  color: #fff;
  display: block;
  margin: 0 auto;
}
.l-header__item a {
  display: inline-block;
  transition: 0.2s ease-in-out;
  color: #074466;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.l-header__item a:hover {
  opacity: 0.7;
}
.l-header__hamburger__button, .l-header__hamburger__content {
  display: none;
}
.l-header__hamburger__item a {
  text-decoration: none;
}

/* フッター ------------------------------*/
.l-footer {
  background: #074466;
  /* ナビゲーション */
  /* ロゴ */
}
.l-footer__navi {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 45px 0px 100px;
  height: 290px;
}
.l-footer__navi__group {
  margin-left: 25px;
  width: 25%;
}
.l-footer__navi__group:not(:first-child) {
  padding-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.l-footer__navi__title {
  margin-bottom: 16px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.l-footer__navi__title a {
  font-size: 14px;
  color: #fff;
}
.l-footer__navi__item {
  font-size: 12px;
  padding: 0 0 12px 0;
  color: #fff;
}
.l-footer__navi__item a {
  font-size: 12px;
  color: #fff;
}
.l-footer__navi__item a:hover {
  opacity: 0.7;
}
.l-footer__logo:first-child img {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 125px;
}
.l-footer__logo:last-child img {
  height: 38px;
  width: 38px;
}
.l-footer__copywriter {
  height: 60px;
  font-size: 12px;
  line-height: 60px;
  color: #fff;
  text-align: center;
}

html {
  font-size: 10px;
  color: #333;
  overflow-x: hidden;
}

.cl-green {
  color: #0088a2;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.font-01 {
  font-family: "";
}

.pc-on {
  display: block;
}

.sp-on {
  display: none;
}

@media screen and (max-width: 499px) {
  .pc-on {
    display: none;
  }
  .sp-on {
    display: block;
  }
  .menu-tirgger {
    width: 60px;
    height: 60px;
    background-color: #fff;
  }
  .menu-tirgger__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu-tirgger span {
    width: 40px;
    height: 2px;
    background: #000;
    display: block;
  }
  .menu-tirgger span:nth-child(2n) {
    margin: 10px 0;
  }
}
.c-secTitle {
  position: relative;
  color: #074466;
  text-align: center;
  font-weight: bold;
}
.c-secTitle::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50px;
  margin: 0 auto;
  background: #074466;
}
.c-secTitle span:first-child {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 32px;
}
.c-secTitle span {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 25px;
}

.news {
  max-width: 1200px;
  margin: 120px auto 0;
}

.service {
  max-width: 1200px;
  margin: 140px auto 0;
}

.contact {
  max-width: 1200px;
  margin: 140px auto 0;
}
/*# sourceMappingURL=style.css.map */