.privacy{
    max-width: 1000px;
    margin: 70px auto 100px;
    &__text {
        font-family: "Noto Sans CJK JP";
        font-size: 18px;
        letter-spacing: 0.02em;
        line-height: 33px;
        text-align: left;
        color: #1e324f;
        margin-bottom: 40px;
    }
    &__text:last-child {
        margin-bottom: 150px;
    }
    &__ceo {
        font-family: "Noto Sans CJK JP";
        font-size: 18px;
        letter-spacing: 0.02em;
        line-height: 33px;
        text-align: left;
        color: #1e324f;
    }

}

@media screen and (max-width:768px) {
    .privacy{
        padding: 0 20px;
        margin: 40px auto 50px;
        &__text {
            font-size: 14px;
            line-height: 25px;
        }
        &__text:last-child {
            margin-bottom: 100px;
        }
        &__ceo {
            font-size: 14px;
            line-height: 25px;
        }
    
    }
}


