@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
  color: #333;
  overflow-x: hidden;
}

.cl-green {
  color: #0088a2;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pc-on {
  display: block;
}

.sp-on {
  display: none;
}

[data-fadein] {
  opacity: 0;
  transition: all 0.6s;
  transform: translateY(150px);
}

[data-fadein].is-over {
  opacity: 1;
  transform: translateY(0px);
}

[data-leftin] {
  transition: all 0.6s;
  transform: translateX(-1000px);
}

[data-leftin].is-over {
  transform: translateX(0px);
}

[data-topin] {
  transition: all 0.6s;
  transform: translateX(-1000px);
}

[data-topin].is-over {
  transform: translateX(0px);
}

[data-rightin] {
  transition: all 0.6s;
  transform: translateX(1000px);
}

[data-rightin].is-over {
  transform: translateX(0px);
}

.c-breadcrumb {
  margin-top: 12px;
}
.c-breadcrumb__lists {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.c-breadcrumb__list {
  font-family: yu-gothic-pr6n, sans-serif;
  margin-right: 18px;
  font-size: 13px;
  color: #074466;
  line-height: 18px;
}
.c-breadcrumb__list a {
  font-family: yu-gothic-pr6n, sans-serif;
  color: #074466;
}

@media screen and (max-width: 768px) {
  .pc-on {
    display: none;
  }
  .sp-on {
    display: block;
  }
}
.c-secTitle {
  position: relative;
  color: #074466;
  text-align: center;
  font-weight: bold;
  margin: 50px 0;
}
.c-secTitle::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50px;
  margin: 0 auto;
  background: #074466;
}
.c-secTitle span:first-child {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 32px;
}
.c-secTitle span {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 25px;
}

.c-btn {
  display: block;
  font-family: Futura;
  font-weight: bold;
  font-size: 18px;
  color: #074466;
  padding: 20px 90px;
  border: solid 1px #074466;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  transition: all 0.5s;
}

.c-btn:hover {
  color: white;
  background-color: #074466;
}

@media screen and (max-width: 768px) {
  .c-secTitle {
    margin: 40px 0;
  }
  .c-secTitle::after {
    width: 40px;
  }
  .c-secTitle span:first-child {
    margin-bottom: 10px;
    font-size: 26px;
  }
  .c-secTitle span {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .c-btn {
    font-size: 12px;
    padding: 10px 48px;
  }
}
/* ヘッダー ------------------------------*/
.index-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.l-header {
  height: 80px;
  width: 100%;
  background: #fff;
  /* ロゴ */
  /* ナビゲーション */
}
.l-header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
.l-header__logo {
  line-height: 80px;
  margin-left: 30px;
}
.l-header__logo img {
  height: 32px;
  vertical-align: middle;
}
.l-header__logo img:hover {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}
.l-header__navi {
  line-height: 80px;
}
.l-header__items {
  display: flex;
  list-style: none;
}
.l-header__item:not(:last-child) {
  margin-right: 60px;
}
.l-header__item:not(:last-child) a {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
}
.l-header__item:last-child {
  background: #074466;
}
.l-header__item:last-child a {
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 0 60px;
  color: #fff;
  display: block;
  margin: 0 auto;
}
.l-header__item a {
  display: inline-block;
  transition: 0.2s ease-in-out;
  color: #074466;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.l-header__item a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  /* ヘッダー ------------------------------*/
  .l-header {
    height: 60px;
    /* ロゴ */
  }
  .l-header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }
  .l-header__logo {
    line-height: 60px;
    margin-left: 23px;
  }
  .l-header__logo img {
    height: 29px;
  }
  .menuTrigger {
    width: 28px;
    height: auto;
    background-color: #fff;
    position: relative;
    margin-right: 23px;
  }
  .menuTrigger__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menuTrigger span {
    width: 28px;
    height: 2px;
    background: #074466;
    display: block;
  }
  .menuTrigger span:nth-child(2n) {
    margin: 7px 0;
  }
  .menuTrigger span:last-child {
    width: 14px;
  }
}
.l-footer {
  background-color: #074466;
}
.l-footer__nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 45px 20px 100px;
}
.l-footer__list {
  display: flex;
}
.l-footer__item {
  width: calc(25% - 40px);
  padding: 0 20px;
  height: 290px;
}
.l-footer__item:not(:first-child) {
  border-left: solid 1px #fff;
}
.l-footer__logo {
  margin-bottom: 10px;
}
.l-footer__logo img {
  width: 120px;
  height: 37px;
}
.l-footer__logo .instagram {
  margin-left: 10px;
  width: 38px;
  height: 38px;
}
.l-footer__ceo {
  margin-bottom: 15px;
  font-family: yu-gothic-pr6n, sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #fff;
}
.l-footer__address {
  font-family: yu-gothic-pr6n, sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: #fff;
}
.l-footer__tel {
  font-family: yu-gothic-pr6n, sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}
.l-footer__title {
  margin-bottom: 25px;
}
.l-footer__title a {
  font-family: yu-gothic-pr6n, sans-serif;
  font-size: 14px;
  color: #fff;
}
.l-footer__title--delta {
  display: none;
}
.l-footer__title:first-child {
  margin-bottom: 12px;
}
.l-footer__text {
  font-family: yu-gothic-pr6n, sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: #fff;
  margin-left: 15px;
  margin-bottom: 25px;
}
.l-footer__copyright {
  font-size: 13px;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  padding: 24px 0px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .l-footer {
    background-color: #074466;
  }
  .l-footer__nav {
    padding: 25px 20px 40px;
  }
  .l-footer__list {
    display: block;
  }
  .l-footer__item {
    width: auto;
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 25px;
  }
  .l-footer__item:first-child {
    margin-bottom: 40px;
  }
  .l-footer__item:last-child {
    margin-bottom: 0px;
  }
  .l-footer__item:not(:first-child) {
    border-left: none;
  }
  .l-footer__logo {
    margin-bottom: 10px;
  }
  .l-footer__logo img {
    width: 100px;
    height: 26px;
  }
  .l-footer__logo .instagram {
    margin-left: 0px;
    width: 27px;
    height: 27px;
  }
  .l-footer__ceo {
    margin-bottom: 12px;
    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
  }
  .l-footer__address {
    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
  }
  .l-footer__tel {
    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 9px;
  }
  .l-footer__title a {
    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 11px;
  }
  .l-footer__title--delta {
    display: inline-block;
    font-size: 1px;
    margin: 0 7px 0 0;
  }
  .l-footer__title:first-child {
    margin-bottom: 15px;
  }
  .l-footer__text {
    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 10px;
    line-height: 21px;
    margin: 0 0 25px 25px;
  }
  .l-footer__copyright {
    font-size: 12px;
    font-family: futura-pt, sans-serif;
    font-weight: bold;
    padding: 0px 0px 15px;
    text-align: center;
    color: #fff;
  }
}
.l-contact {
  background-color: #F8F8F8;
  margin: 0 auto;
  padding: 115px 0;
}
.l-contact__up {
  text-align: center;
}
.l-contact__catch {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 31px;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
  color: #1e324f;
  position: relative;
  display: inline-block;
  padding: 0 71px;
}
.l-contact__catch::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background: #074466;
  border-radius: 3px;
  transform: rotate(-25deg);
}
.l-contact__catch::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #074466;
  border-radius: 3px;
  transform: rotate(25deg);
}
.l-contact__under {
  display: flex;
  justify-content: center;
}
.l-contact__under__right {
  margin-left: 30px;
}
.l-contact__btn {
  width: 488px;
  height: 73px;
  border: solid 2px #FF0000;
  position: relative;
  border-radius: 5px;
}
.l-contact__btn a {
  display: block;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.l-contact__btn--red {
  background-color: #FF0000;
}
.l-contact__btn--red img {
  width: 44px;
  height: 35px;
  margin-right: 17px;
}
.l-contact__btn--red a {
  font-family: YuGothic;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.13em;
  line-height: 36.5px;
}
.l-contact__btn--white {
  background-color: #fff;
  margin-bottom: 15px;
}
.l-contact__btn--white img {
  width: 44px;
  height: 44px;
  margin-right: 17px;
}
.l-contact__btn--white a {
  font-family: Futura-Bold;
  font-weight: normal;
  font-size: 33px;
  letter-spacing: 0.13em;
  line-height: 39.6px;
  color: #ff0000;
}
.l-contact__time {
  font-family: YuGothic;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.11em;
  line-height: 18px;
  text-align: center;
  color: #f00;
}

@media screen and (max-width: 768px) {
  .l-contact {
    background-color: #F8F8F8;
    margin: 0 auto;
    padding: 50px 0 80px;
  }
  .l-contact__up {
    text-align: center;
  }
  .l-contact__catch {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
    padding: 0 24px;
  }
  .l-contact__catch::before {
    width: 2px;
    height: 100%;
  }
  .l-contact__catch::after {
    width: 2px;
    height: 100%;
  }
  .l-contact__under {
    display: block;
  }
  .l-contact__under__right {
    margin-left: 0px;
  }
  .l-contact__btn {
    width: 259px;
    height: 56px;
    border: solid 2px #FF0000;
    border-radius: 5px;
  }
  .l-contact__btn--red {
    background-color: #FF0000;
    margin: 0 auto 20px;
  }
  .l-contact__btn--red img {
    width: 25px;
    height: 20px;
    margin-right: 17px;
  }
  .l-contact__btn--red a {
    font-size: 19px;
    line-height: 22.8px;
  }
  .l-contact__btn--white {
    background-color: #fff;
    margin: 0 auto 15px;
  }
  .l-contact__btn--white img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
  }
  .l-contact__btn--white a {
    font-size: 20px;
    line-height: 28.6px;
  }
  .l-contact__time {
    font-size: 15px;
    line-height: 22px;
  }
}
.keyVisual {
  height: 340px;
  margin-bottom: 15px;
  background-image: url(../img/common/kv.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}
.keyVisual__bg-lightblue {
  background-color: #3FA9F5;
  height: 100%;
  opacity: 0.5;
}
.keyVisual__bg-blue {
  background-color: #198AF9;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%) skewX(-30deg);
}
.keyVisual__title {
  text-align: left;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.keyVisual__title-txt {
  font-family: Shelby;
  font-weight: normal;
  font-size: 90px;
  letter-spacing: 0.14em;
  text-align: center;
  color: #fff;
  width: 100%;
  z-index: 50;
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(-10deg);
}
.keyVisual__title-txt--big {
  font-size: 120px;
}
.keyVisual__title-underline {
  width: 440px;
  z-index: 100;
  position: absolute;
  top: 54%;
  left: 43%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .keyVisual {
    height: 240px;
    margin-bottom: 40px;
  }
  .keyVisual__title {
    left: 25%;
  }
  .keyVisual__bg-blue {
    left: 15%;
  }
  .keyVisual__title-txt {
    font-size: 50px;
    top: 45%;
    left: 50%;
  }
  .keyVisual__title-txt--contact {
    font-size: 80px;
  }
  .keyVisual__title-underline {
    width: 240px;
    top: 57%;
    left: 48%;
  }
}
@media screen and (max-width: 499px) {
  .keyVisual {
    height: 140px;
  }
  .keyVisual__title {
    left: 25%;
  }
  .keyVisual__title-txt {
    font-size: 31px;
  }
  .keyVisual__title-txt--contact {
    font-size: 40px;
  }
  .keyVisual__title-underline {
    width: 140px;
  }
}
.sp-menu {
  display: none;
}

.sp-menu.clicked {
  display: block;
}

@media screen and (max-width: 768px) {
  .sp-menu {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: white;
    background-image: url(../img/common/bg-sp-menu.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center right;
  }
  .sp-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px 0 23px;
    height: 60px;
  }
  .sp-menu__gp {
    width: 91px;
    height: 29px;
  }
  .sp-menu__line {
    width: 28px;
    height: 28px;
    position: relative;
  }
  .sp-menu__line--1, .sp-menu__line--2 {
    position: absolute;
    display: block;
    width: 28px;
    height: 2px;
    background-color: #074466;
  }
  .sp-menu__line--1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .sp-menu__line--2 {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%) rotate(135deg);
  }
  .sp-menu__list {
    width: calc(100% - 96px);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sp-menu__solo {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: left;
  }
  .sp-menu__solo a {
    display: block;
    padding: 20px 8px;
    color: #074466;
    white-space: nowrap;
  }
  .sp-menu__solo:not(:last-child) {
    border-bottom: solid 1px #707070;
  }
  .sp-menu__insta {
    width: 28px;
    height: 28px;
  }
  .sp-menu__insta img {
    margin: 30px 0 0 8px;
  }
}
.top-layout {
  margin-bottom: 60px;
}

.font-light-blue {
  color: #198AF9;
}

.top-news {
  margin: 0 auto 60px;
}
.top-news__table {
  max-width: 1000px;
  padding: 0 0 60px;
  margin: 0 auto;
  border-top: solid 1px #707070;
}
.top-news__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  white-space: nowrap;
}


.top-news__date, .top-news__title{
  font-family: "Noto Sans CJK JP";
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: left;
  color: #000;
  border-bottom: solid 1px #707070;
  padding-top: 30px;
  padding-bottom: 30px;
}

.top-news__date {
  width: calc(30% - 22px);
  font-weight: bold;
  padding-left: 22px;

}

.top-news__label {
  font-family: Futura;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  padding: 4px 10px;
  background-color: #FF0000;
  margin-left: 10px;
}

.top-news__title {
  width: 70%;
  font-weight: 500;
  white-space: nowrap;

}


@media screen and (max-width: 768px) {
  .top-news__table {
    padding: 0 50px 40px;
    display: block;
    border-top: none;
  }
  .top-news__date, .top-news__title {
    font-family: "Noto Sans CJK JP";
    letter-spacing: 0.1em;
    line-height: 22px;
    text-align: left;
    color: #333;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .top-news__date {
    width: auto;
    font-weight: bold;
    padding-left: 0px;
    font-size: 15px;
  }
  .top-news__date:first-of-type {
    padding-top: 0px;
  }
  .top-news__title {
    width: auto;
    padding-bottom: 10px;
    border-bottom: solid 1px #707070;
    font-size: 14px;
    white-space: wrap;
  }
  .top-news__label {
    font-size: 9px;
    padding: 2px 10px;
    margin-left: 5px;
  }
}
.top-ec {
  /* 売り上げの最大化を目指して吹き出し */
}
.top-ec__consoulation {
  max-width: 1200px;
  margin: 0 auto 60px;
  background-color: #EDF7F9;
}
.top-ec__consoulation__wrapper {
  padding: 66px 0 45px;
}
.top-ec__consoulation__text {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0.1em;
  line-height: 40px;
  text-align: center;
  color: #000;
  padding: 0px 0 29px;
}
.top-ec__consoulation__label {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: left;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 24px;
  margin: 0 auto;
  padding: 18px 35px;
  background-color: #FF981D;
}
.top-ec__bg {
  width: 100vw;
  background-image: url(../img/top/top-ec-bg-pc.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.top-ec__bg--margin {
  height: 75px;
}
.top-ec__balloon {
  position: relative;
  padding: 10px 70px;
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: left;
  color: #fff;
  background-color: #FF981D;
  margin: 0 auto 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px;
}
.top-ec__balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 25px solid #FF981D;
}
.top-ec__solve {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  padding-bottom: 100px;
}

/* ECサイトのお悩みリスト */
.circle__list {
  margin: -50px auto 60px;
  display: flex;
  justify-content: center;
}
.circle__item:not(:last-child) {
  margin-right: 100px;
}
.circle__wrapper {
  position: relative;
  margin-bottom: 25px;
}
.circle__big {
  width: 270px;
  height: 270px;
  border-radius: 270px;
  background-color: #CBE6F4;
}
.circle__big__text {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.circle__little {
  width: 76px;
  height: 76px;
  border-radius: 100px;
  background-color: #FF0000;
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(0%, 0%);
}
.circle__little__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle__little__point {
  font-family: futura-pt, sans-serif;
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  color: #fff;
}
.circle__little__number {
  font-family: futura-pt, sans-serif;
  display: block;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.08em;
  line-height: 28.8px;
  text-align: center;
  color: #fff;
}
.circle__big__img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle__title {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 0.08em;
  line-height: 30px;
  text-align: center;
  color: #000;
  margin-bottom: 25px;
}
.circle__texts {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.circle__text {
  display: flex;
  justify-content: left;
  align-items: stretch;
}
.circle__text p {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.08em;
  line-height: 23px;
  text-align: left;
  color: #000;
}
.circle__text--check {
  width: 14px;
  height: 14px;
  margin: 5px 5px 0 0;
}
.circle__text:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .top-ec {
    /* 売り上げの最大化を目指して吹き出し */
  }
  .top-ec__bg {
    width: 100vw;
    background-image: url(../img/top/top-ec-bg-sp.png);
  }
  .top-ec__bg--margin {
    height: 37px;
  }
  .top-ec__balloon {
    padding: 10px 70px;
    font-size: 15px;
    color: #fff;
    background-color: #FF981D;
    margin: 0 auto 50px;
  }
  .top-ec__balloon:before {
    border: 10px solid transparent;
    border-top: 20px solid #FF981D;
  }
  .top-ec__solve {
    font-size: 19px;
    margin-top: 5px;
    padding-bottom: 28px;
  }
  .top-ec__consoulation {
    max-width: 1200px;
    margin: 0 auto 60px;
    background-color: #EDF7F9;
  }
  .top-ec__consoulation__wrapper {
    padding: 25px 0 30px;
  }
  .top-ec__consoulation__text {
    font-size: 17px;
    line-height: 25px;
    padding: 0px 0 17px;
  }
  .top-ec__consoulation__label {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 35px;
    border-radius: 0;
    text-align: center;
  }
  /* ECサイトのお悩みリスト */
  .circle__list {
    margin: 0px auto 60px;
    display: block;
    padding: 43px;
  }
  .circle__item {
    text-align: center;
  }
  .circle__item:not(:last-child) {
    margin-right: auto;
    margin-bottom: 50px;
  }
  .circle__wrapper {
    position: relative;
    margin: 0 auto 25px;
    width: 270px;
  }
  .circle__title {
    margin: 0 auto 25px;
  }
  .circle__texts {
    margin: 0 auto;
    text-align: center;
  }
}
.top-work {
  margin-bottom: 48px;
}
.top-work__text {
  margin-bottom: 45px;
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: center;
  color: #1e324f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 45px;
}
.top-work__slider__img {
  padding-right: 43px;
}
.top-work__slider__img:nth-child(2n) {
  padding-top: 31px;
}

@media screen and (max-width: 768px) {
  .top-work__text {
    font-size: 15px;
    line-height: 19px;
    margin: 0 auto 28px;
  }
}
.top-service {
  margin-bottom: 60px;
}
.top-service__list {
  background-image: url(../img/top/top-service-bg.png);
  background-size: contain;
  padding: 50px 0;
}
.top-service__item {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/top/top-service-bg2.png);
  background-size: 80% 80%;
  background-position: right center;
  background-repeat: no-repeat;
}
.top-service__item:nth-child(2n) {
  flex-direction: row-reverse;
  background-position: left center;
}
.top-service__img, .top-service__img-reverse {
  width: 50%;
}
.top-service__texts {
  width: 50%;
}
.top-service__texts__wrapper, .top-service__texts__wrapper-reverse {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.top-service__texts__wrapper {
  text-align: right;
  margin-right: 5%;
}
.top-service__texts__wrapper-reverse {
  text-align: left;
  margin-left: 5%;
}
.top-service__texts-reverse {
  width: 50%;
}
.top-service__work, .top-service__work-reverse {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 46px;
  color: #fff;
  margin-bottom: 45px;
}
.top-service__work {
  text-align: right;
}
.top-service__work-reverse {
  text-align: left;
}
.top-service__desc, .top-service__desc-reverse {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 30px;
  color: #fff;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.top-service__desc {
  text-align: left;
  margin: 0 0 45px auto;
}
.top-service__desc-reverse {
  margin: 0 auto 45px 0;
}
.top-service__link, .top-service__link-reverse {
  color: #fff;
  border: solid 1px #fff;
}
.top-service__link:hover, .top-service__link-reverse:hover {
  color: #079BDD;
  background-color: #fff;
}
.top-service__link {
  margin: 0 0 0 auto;
}
.top-service__link-reverse {
  margin: 0 auto 0 0;
}

@media screen and (max-width: 768px) {
  .top-service {
    margin-bottom: 40px;
  }
  .top-service__list {
    padding: 0px 0px 30px 0px;
  }
  .top-service__item {
    flex-direction: column-reverse;
    background-size: 90% 70%;
    background-position: left top;
  }
  .top-service__item:nth-child(2n) {
    margin: 0 0 0 auto;
    flex-direction: column-reverse;
    background-position: right top;
  }
  .top-service__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .top-service__img, .top-service__img-reverse {
    width: 90%;
  }
  .top-service__img-reverse {
    margin-left: auto;
  }
  .top-service__texts {
    width: 90%;
  }
  .top-service__texts__wrapper, .top-service__texts__wrapper-reverse {
    position: static;
    transform: translateY(0%);
  }
  .top-service__texts__wrapper {
    text-align: left;
    margin-left: 23px;
  }
  .top-service__texts__wrapper-reverse {
    text-align: right;
    margin-right: 23px;
  }
  .top-service__texts-reverse {
    width: 90%;
    margin-left: auto;
  }
  .top-service__work, .top-service__work-reverse {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .top-service__work {
    text-align: left;
  }
  .top-service__work-reverse {
    text-align: right;
  }
  .top-service__desc, .top-service__desc-reverse {
    font-size: 13px;
    line-height: 23px;
    text-align: left;
  }
  .top-service__desc {
    text-align: left;
    margin: 0 auto 15px 0;
  }
  .top-service__desc-reverse {
    margin: 0 0 15px auto;
  }
  .top-service__link, .top-service__link-reverse {
    color: #fff;
    border: solid 1px #fff;
  }
  .top-service__link {
    margin: 0 auto 25px 0;
  }
  .top-service__link-reverse {
    margin: 0 0 25px auto;
  }
}
.topVisual {
  height: 680px;
  margin-bottom: 15px;
  background-image: url(../img/common/top-kv.png);
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.topVisual__bg-blue {
  background-color: #198AF9;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%) skewX(-30deg);
}
.topVisual__wrapper {
  max-width: 1000px;
  z-index: 100;
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.topVisual__title-txt {
  font-family: Shelby;
  font-weight: normal;
  font-size: 90px;
  letter-spacing: 0.14em;
  text-align: center;
  color: #fff;
  width: 100%;
  z-index: 50;
  transform: rotate(-10deg);
}
.topVisual__title-txt:not(:last-child) {
  margin-top: 10px;
}
.topVisual__title-txt.mb-50 {
  margin-top: -80px;
  margin-left: 50px;
}
.topVisual__title-underline {
  width: 440px;
  z-index: 100;
  margin: -55px 0 60px 100px;
}
.topVisual__text {
  position: static;
  font-family: "Noto Sans";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.18em;
  line-height: 19.2px;
  text-align: left;
  color: #fff;
  margin-left: 50px;
}
.topVisual__text:last-child {
  margin-bottom: 30px;
}
.topVisual__real {
  position: static;
  z-index: 100;
  width: 500px;
  height: 125px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .topVisual {
    height: 600px;
    margin-bottom: 45px;
    background-image: url(../img/common/top-kv.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  .topVisual__bg-blue {
    background-image: url(../img/common/top-kv-sp.png);
    background-size: 100% 100%;
    background-repeat: repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    left: -10%;
    transform: translate(-50%, -50%) skewX(-20deg);
  }
  .topVisual__wrapper {
    max-width: 1000px;
    z-index: 100;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .topVisual__title-txt {
    font-size: 50px;
    white-space: nowrap;
  }
  .topVisual__title-txt:not(:last-child) {
    margin-top: 10px;
  }
  .topVisual__title-txt.mb-50 {
    margin-top: -80px;
    margin-left: 0px;
  }
  .topVisual__title-underline {
    width: 330px;
    z-index: 100;
    margin: -40px 0 60px 0px;
  }
  .topVisual__text {
    font-size: 12px;
    line-height: 16px;
    margin-left: 0px;
  }
  .topVisual__text:last-child {
    margin-bottom: 30px;
  }
  .topVisual__real {
    width: 300px;
    height: 100px;
    margin-left: 0px;
  }
}
/* フォーム */
.contact-form {
  padding-bottom: 55px;
  /* ラベル */
  /* お問合せフォーム ------------------------------*/
  /* アイテム */
  /* ボタン */
}
.contact-form__form {
  background-color: #EDF7F9;
  padding: 55px 20px;
  margin-left: 7%;
  width: calc(100% - 40px - 7%);
}
.contact-form__before {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.15em;
  line-height: 28px;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}
.contact-form__label {
  padding: 2px 14px;
  font-size: 12px;
  text-align: left;
  color: #000;
  margin-left: 13px;
  border-radius: 15px;
}
.contact-form__label-danger {
  background: #E80101;
  color: #fff;
}
.contact-form__items {
  max-width: 1000px;
  margin: 0 auto;
}
.contact-form__item dl {
  display: flex;
}
.contact-form__item dt {
  width: 25%;
}
.contact-form__item dd {
  width: 75%;
  align-items: center;
}
.contact-form__item dd select, .contact-form__item dd input, .contact-form__item dd textarea {
  display: block;
  font-size: 14px;
  height: 30px;
}
.contact-form__item dd textarea {
  width: calc(100% - 40px);
  height: 159px;
  padding: 10px;
}
.contact-form__item__name {
  display: flex;
}
.contact-form__item__name--input {
  width: 121px;
  margin-right: 16px;
}
.contact-form__item__name--input:last-child {
  margin-right: 0px;
}
.contact-form__item__name--example {
  font-family: "Yu Gothic";
  font-weight: normal;
  font-size: 16px;
  margin-right: 7px;
}
.contact-form__item__mail--input {
  width: 342px;
}
.contact-form__item__tel {
  display: flex;
}
.contact-form__item__tel--input {
  width: 93px;
  margin-right: 7px;
}
.contact-form__item__tel--line::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #000000;
  display: block;
  width: 7px;
  position: relative;
  top: 50%;
  margin-right: 7px;
}
.contact-form__item__tel--input:last-child {
  margin-right: 0px;
}
.contact-form__item:not(:last-child) {
  margin-bottom: 26px;
}
.contact-form__title {
  font-family: "Yu Gothic";
  font-size: 14px;
  text-align: right;
  color: #000;
  margin-right: 47px;
  height: 30px;
  line-height: 30px;
}
.contact-form__title--name {
  display: inline-block;
}
.contact-form__privicy {
  display: flex;
  align-items: center;
}
.contact-form__privicy .check-box {
  display: flex;
  display: inline-block;
  margin: 0 9px 0 0;
}
.contact-form__privicy__check {
  display: flex;
  align-items: center;
}
.contact-form__privicy--doui, .contact-form__privicy-link {
  font-family: "Noto Sans CJK JP";
  font-size: 16px;
  letter-spacing: 0.1em;
  text-align: left;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.contact-form__privicy-link {
  color: #198af9;
  margin-left: 47px;
  transition: all 0.5s;
  height: 30px;
  line-height: 30px;
}
.contact-form__privicy-link:hover {
  cursor: pointer;
  border-bottom: solid 1px #198af9;
}
.contact-form label:not(:first-child) {
  margin-left: 24px;
}
.contact-form--submit {
  font-family: "Yu Gothic";
  color: #fff;
  background: #198AF9;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  padding: 19px 110px;
  border: solid 2px #198AF9;
  display: block;
  margin: 68px auto 0;
}
.contact-form--submit:hover {
  color: #1B1B1D;
  background: #fff;
}

@media screen and (max-width: 768px) {
  /* フォーム */
  .contact-form {
    /* ラベル */
    /* お問合せフォーム ------------------------------*/
    /* アイテム */
    /* ボタン */
  }
  .contact-form .c-secTitle {
    margin: 0 auto 30px;
  }
  .contact-form__form {
    background-color: #EDF7F9;
    padding: 30px 20px;
    margin-left: 0%;
    width: calc(100% - 40px);
  }
  .contact-form__before {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.15em;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin-bottom: 50px;
  }
  .contact-form__label {
    padding: 2px 14px;
    font-size: 12px;
    text-align: left;
    color: #000;
    margin-left: 13px;
    border-radius: 15px;
  }
  .contact-form__label-danger {
    background: #E80101;
    color: #fff;
  }
  .contact-form__items {
    max-width: 1000px;
  }
  .contact-form__item dl {
    display: block;
  }
  .contact-form__item dt {
    width: auto;
  }
  .contact-form__item dd {
    width: auto;
    align-items: left;
  }
  .contact-form__item dd select, .contact-form__item dd input, .contact-form__item dd textarea {
    display: block;
    font-size: 14px;
    height: 30px;
  }
  .contact-form__item dd textarea {
    width: calc(100% - 40px);
    height: 159px;
    padding: 10px;
  }
  .contact-form__item__name--input {
    width: 100px;
  }
  .contact-form__item__name--input:last-child {
    margin-right: 0px;
  }
  .contact-form__item__name--example {
    font-size: 14px;
  }
  .contact-form__item__mail--input {
    width: calc(100% - 40px);
  }
  .contact-form__item__tel {
    display: flex;
  }
  .contact-form__item__tel--input {
    width: 85px;
    margin-right: 7px;
  }
  .contact-form__item__tel--line::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #000000;
    display: block;
    width: 7px;
    position: relative;
    top: 50%;
    margin-right: 7px;
  }
  .contact-form__item__tel--input:last-child {
    margin-right: 0px;
  }
  .contact-form__item:not(:last-child) {
    margin-bottom: 26px;
  }
  .contact-form__title {
    text-align: left;
    margin-right: 0px;
    margin-bottom: 10px;
    height: 20px;
    line-height: 20px;
  }
  .contact-form__title--name {
    display: inline-block;
  }
  .contact-form__privicy {
    display: block;
  }
  .contact-form__privicy--doui, .contact-form__privicy-link {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }
  .contact-form__privicy-link {
    color: #198af9;
    margin-left: 0px;
    text-align: center;
    width: 100%;
  }
  .contact-form label:not(:first-child) {
    margin-left: 24px;
  }
  .contact-form--submit {
    margin: 30px auto 0;
  }
  .contact-form--submit:hover {
    color: #1B1B1D;
    background: #fff;
  }
}
.g-planning__logo {
  font-family: "Yu Mincho";
  font-weight: 600;
  font-size: 152px;
  line-height: 162px;
  text-align: left;
  color: #e6e6e6;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  white-space: nowrap;
}

.mission {
  margin-bottom: 100px;
  position: relative;
}
.mission__catch {
  max-width: 764px;
  margin: 45px auto;
  padding: 0 45px;
}
.mission__text {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 23px;
  letter-spacing: 0.07em;
  line-height: 38px;
  text-align: center;
  color: #074466;
}

@media screen and (max-width: 768px) {
  .g-planning__logo {
    font-family: "Yu Mincho";
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    top: 100px;
    right: 1%;
  }
  .mission {
    margin-bottom: 60px;
  }
  .mission .c-secTitle {
    margin-bottom: 25px;
  }
  .mission__catch {
    margin: 0px auto 25px;
  }
  .mission__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000;
  }
}
.greeting {
  margin-bottom: 100px;
}
.greeting__bg {
  background-image: url(../img/company/greeting-pc.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 10% 50px 2%;
  margin: 0 auto;
}
.greeting__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.greeting__contain__left {
  margin-right: 3%;
}
.greeting__catch {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: #3FA9F5;
  white-space: nowrap;
  padding: 9px 15px;
  display: inline-block;
}
.greeting__catch:not(:last-child) {
  margin-bottom: 12px;
}
.greeting__text {
  font-family: "Yu Gothic";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: left;
  color: #1e324f;
  padding-bottom: 30px;
}
.greeting__name {
  font-family: "Yu Gothic";
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-align: right;
  color: #333;
}

@media screen and (max-width: 768px) {
  .greeting {
    margin-bottom: 100px;
  }
  .greeting__bg {
    background-image: url(../img/company/greeting-sp.png);
    background-size: auto;
    background-position: center;
    padding: 55px 43px 65px;
    margin: 0 auto;
  }
  .greeting__contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .greeting__contain__left {
    margin-right: 0%;
  }
  .greeting__text {
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    color: #fff;
    padding-bottom: 23px;
  }
  .greeting__name {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    color: #fff;
  }
}
.about {
  position: relative;
}
.about__bg {
  background-color: #EDF7F9;
  margin-left: 7%;
  width: calc(100% - 40px);
  height: 1100px;
}
.about__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__table {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  white-space: nowrap;
  border-top: solid 1px #707070;
}
.about__table dt, .about__table dt + dd {
  font-family: "Noto Sans CJK JP";
  font-size: 17px;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-align: left;
  color: #333;
  border-bottom: solid 1px #707070;
  padding-top: 30px;
  padding-bottom: 30px;
}
.about__table dt:last-of-type, .about__table dd:last-of-type {
  border-bottom: none;
}
.about__table dt {
  width: calc(30% - 22px);
  font-weight: bold;
  padding-left: 22px;
}
.about__table dt + dd {
  width: 70%;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .about {
    position: static;
  }
  .about__wrapper {
    position: static;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    padding: 0;
  }
  .about__table {
    padding: 40px 32px;
    display: block;
    flex-wrap: nowrap;
    border-top: none;
    background-color: #EDF7F9;
    width: auto;
    white-space: normal;
  }
  .about__table dt, .about__table dt + dd {
    font-family: "Noto Sans CJK JP";
    letter-spacing: 0.1em;
    line-height: 22px;
    text-align: left;
    color: #333;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .about__table dt:last-of-type, .about__table dd:last-of-type {
    border-bottom: none;
    border-bottom: none;
  }
  .about__table dt {
    width: auto;
    font-weight: bold;
    padding-left: 0px;
    font-size: 15px;
  }
  .about__table dt + dd {
    width: auto;
    padding-bottom: 10px;
    border-bottom: solid 1px #707070;
    font-size: 14px;
  }
}
.access {
  margin: 70px auto 0;
}

.access__map {
  width: 100%;
  height: 570px;
}

@media screen and (max-width: 768px) {
  .access {
    margin: 50px auto 0;
  }
  .access__map {
    height: 310px;
  }
}
.privacy {
  max-width: 1072px;
  margin: 60px auto;
}
.privacy__text, .privacy__item, .privacy__item--top, .privacy__consultation {
  font-family: "Yu Gothic";
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #555;
}
.privacy__item:not(:first-child) {
  margin-top: 10px;
}
.privacy__item, .privacy__item--top {
  list-style-type: decimal;
  margin-left: 20px;
}
.privacy__list, .privacy__text {
  margin-top: 15px;
}
.privacy__consultation {
  margin-top: 36px;
}
.privacy__item--top:not(:first-child) {
  margin-top: 25px;
}
.privacy__ceo {
  font-family: "Yu Gothic";
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #555;
  margin-top: 30px;
}
.privacy__title {
  font-family: "Yu Gothic";
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  color: #555;
  margin-top: 24px;
}
.privacy__title--big {
  font-size: 24px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .privacy {
    padding: 0 20px;
    margin: 50px auto;
  }
  .privacy__text, .privacy__item, .privacy__item--top, .privacy__consultation {
    font-size: 14px;
    line-height: 21px;
  }
  .privacy__list, .privacy__text {
    margin-top: 15px;
  }
  .privacy__consultation {
    margin-top: 30px;
  }
  .privacy__item--top:not(:first-child) {
    margin-top: 20px;
  }
  .privacy__ceo {
    font-size: 14px;
    line-height: 21px;
    margin-top: 25px;
  }
  .privacy__title {
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
  }
  .privacy__title--big {
    font-size: 20px;
    margin-top: 30px;
  }
}
.faq__list {
  margin-bottom: 60px;
  padding: 0 15px;
}
.faq__item {
  background-color: #EDF7F9;
  padding: 62px 105px;
  max-width: 1000px;
  margin: 0 auto;
}
.faq__item:not(:last-child) {
  margin-bottom: 30px;
}
.faq__question {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.5px #666666;
  padding-bottom: 27px;
}
.faq__question__icon {
  width: 50px;
  height: 50px;
  padding-right: 33px;
}
.faq__question__title {
  width: calc(100% - 50px);
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 20px;
  line-height: 37px;
  text-align: left;
  color: #079bdd;
}
.faq__answer {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
}
.faq__answer__icon {
  width: 50px;
  height: 50px;
  padding-right: 29px;
}
.faq__answer__text {
  width: calc(100% - 50px);
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 16px;
  line-height: 37px;
  text-align: left;
  color: #666;
}

@media screen and (max-width: 768px) {
  .faq__item {
    padding: 25px 30px;
  }
  .faq__question {
    border-bottom: none;
    padding-bottom: 20px;
  }
  .faq__question__icon {
    width: 30px;
    height: 30px;
    padding-right: 9px;
  }
  .faq__question__title {
    width: calc(100% - 30px);
    font-size: 14px;
    line-height: 18px;
  }
  .faq__answer {
    padding-top: 0px;
  }
  .faq__answer__icon {
    width: 30px;
    height: 30px;
    padding-right: 9px;
  }
  .faq__answer__text {
    width: calc(100% - 30px);
    font-size: 11px;
    line-height: 18px;
  }
}
.l-service {
  margin: 0 0 100px 0;
}

.service-title {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #074466;
  display: flex;
  align-items: center;
  justify-content: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 10%;
  margin-bottom: 70px;
}

.service-title:before {
  content: "";
  flex-grow: 1; /* 余白を分け与える */
  height: 2px;
  background: #8DDAFD;
  width: 150px;
  margin-right: 20px;
  display: inline-block;
}

.service {
  padding: 60px 0 150px;
  background-image: url(../img/common/bg.png);
  background-size: 95% 100%;
  background-position: right;
  background-repeat: no-repeat;
}
.service__contain, .service__contain-reverse {
  display: flex;
  align-items: center;
}
.service__contain-reverse {
  flex-direction: row-reverse;
}
.service__contain__img {
  width: 50%;
}
.service__contain__desc {
  width: 40%;
  background-color: white;
  padding: 80px 0px 80px 40px;
  margin-top: -30px;
}
.service__contain__text, .service__contain__text-reverse {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.1em;
  line-height: 39px;
  color: #000;
  margin-right: 40px;
  text-align: left;
}
.service__contain__text {
  padding-right: 40px;
  border-right: solid 1px #079BDD;
}
.service__contain__text-reverse {
  padding-left: 40px;
  border-left: solid 1px #079BDD;
}
.service__bg, .service__bg-reverse {
  background-image: url(../img/service/service-bg.png);
  background-repeat: no-repeat;
  width: 70%;
  height: 220px;
  margin-top: -180px;
}
.service__bg {
  margin-left: auto;
}
.service__bg-reverse {
  margin-right: auto;
}
.service__ec-title {
  font-family: "Source Han Sans";
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.1em;
  line-height: 39px;
  text-align: center;
  color: #1e324f;
  max-width: 470px;
  margin: 80px auto 60px;
  border-bottom: solid 2px #079BDD;
}
.service .flow__list {
  width: 800px;
  margin: 0 auto;
}
.service .flow__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: stretch;
}
.service .flow__left {
  width: 15%;
  margin-right: 20px;
  background-color: white;
  height: 150px;
  box-shadow: 5px 5px 2px #707070;
  position: relative;
  white-space: nowrap;
}
.service .flow__title {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #074466;
  writing-mode: vertical-rl;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service .flow__center {
  width: 35%;
  margin-right: 20px;
}
.service .flow__right {
  width: 50%;
  font-family: "Noto Sans CJK JP";
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-align: left;
  color: #000;
}
.service .flow__arrow {
  width: 15%;
  margin: 0 auto 0 0;
  position: relative;
}
.service .flow__arrow__line {
  width: 4px;
  background-color: #29ABE2;
  height: 75px;
  margin: 0 auto;
}
.service .flow__arrow__delta {
  width: 10px;
  height: 10px;
  border-bottom: solid 4px #29ABE2;
  border-left: solid 4px #29ABE2;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}
.service__promotion {
  max-width: 1000px;
  margin: 130px auto 0;
  padding: 0 30px;
}
.service__promotion__work {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.1em;
  line-height: 39px;
  text-align: left;
  color: #000;
  margin-bottom: 8px;
}
.service__promotion__under {
  max-width: 1000px;
  height: 10px;
  margin-bottom: 19px;
}
.service__promotion__text {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 36px;
  text-align: left;
  color: #000;
  margin-bottom: 50px;
}
.service__promotion__list {
  display: flex;
  justify-content: center;
}
.service__promotion__item--3col {
  width: 33.3333333333%;
}
.service__promotion__item--3col:not(:first-child) {
  padding-left: 45px;
  border-left: solid 1px #707070;
}
.service__promotion__item--3col:not(:last-child) {
  margin-right: 45px;
}
.service__promotion__item--4col {
  width: 25%;
}
.service__promotion__item--4col:not(:first-child) {
  padding-left: 20px;
  border-left: solid 1px #707070;
}
.service__promotion__item--4col:not(:last-child) {
  margin-right: 20px;
}
.service__promotion__circle {
  position: relative;
  white-space: nowrap;
  margin: 0 auto 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 212px;
  height: 212px;
}
.service__promotion__circle p {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-align: left;
  color: #fff;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service__promotion__circle--online {
  background-image: url(../img/service/online.png);
}
.service__promotion__circle--offline {
  background-image: url(../img/service/offline.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 212px;
  height: 212px;
}
.service__promotion__desc {
  font-family: "Noto Sans CJK JP";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.08em;
  line-height: 32px;
  text-align: left;
  color: #000;
}
.service__event {
  max-width: 1000px;
  margin: 30px auto 0;
}
.service__event__title {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 0.1em;
  line-height: 39px;
  text-align: left;
  color: #198af9;
  margin-bottom: 25px;
}
.service__event__title .pc-on {
  display: inline-block;
}
.service__event__text {
  font-family: "Noto Sans CJK JP";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 37px;
  text-align: left;
  color: #000;
}
.service__event:not(:last-child) {
  margin-bottom: 50px;
}
.service__sports {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 36px;
  text-align: left;
  color: #000;
  max-width: 1029px;
  margin: 30px auto 0;
}

.service-reverse {
  background-position: left;
}

@media screen and (max-width: 768px) {
  .l-service {
    margin: 0 0 100px 0;
  }
  .service-title {
    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .service-title:before {
    content: "";
    flex-grow: 1; /* 余白を分け与える */
    height: 2px;
    background: #8DDAFD;
    width: 60px;
    margin-right: 20px;
    display: inline-block;
  }
  .service {
    padding: 40px 0;
    background-size: 100% 100%;
  }
  .service__contain, .service__contain-reverse {
    display: block;
    padding: 0 15px;
  }
  .service__contain__img {
    width: auto;
    padding: 17px;
    background-color: white;
  }
  .service__contain__desc {
    width: auto;
    background-color: white;
    padding: 0px 17px 40px;
    margin-top: 0px;
  }
  .service__contain__text, .service__contain__text-reverse {
    font-size: 14px;
    margin-right: 0px;
    line-height: 22px;
  }
  .service__contain__text {
    padding-right: 30px;
    border-right: solid 1px #079BDD;
  }
  .service__contain__text-reverse {
    padding-left: 30px;
    border-left: solid 1px #079BDD;
  }
  .service__bg, .service__bg-reverse {
    display: none;
  }
  .service__ec-title {
    font-size: 18px;
    line-height: 23px;
    max-width: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 11px;
    border: solid 1px #074466;
  }
  .service .flow__wrapper {
    align-items: center;
  }
  .service .flow__list {
    width: auto;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 400px;
  }
  .service .flow__left {
    width: 30%;
  }
  .service .flow__title {
    font-size: 18px;
  }
  .service .flow__center {
    width: 70%;
    margin-right: 0px;
  }
  .service .flow__right {
    display: none;
  }
  .service .flow__arrow {
    width: 30%;
  }
  .service .flow__arrow__line {
    width: 2px;
    background-color: #29ABE2;
    height: 40px;
    margin: 0 auto;
  }
  .service .flow__arrow__delta {
    width: 8px;
    height: 8px;
    border-bottom: solid 2px #29ABE2;
    border-left: solid 2px #29ABE2;
  }
  .service__promotion {
    margin: 40px auto 0;
    max-width: 500px;
  }
  .service__promotion__work {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 0px;
  }
  .service__promotion__under {
    max-width: auto;
    width: 250px;
    height: 5px;
    margin-bottom: 15px;
  }
  .service__promotion__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .service__promotion__list {
    display: block;
  }
  .service__promotion__item {
    display: flex;
    justify-content: space-between;
  }
  .service__promotion__item--3col {
    width: auto;
  }
  .service__promotion__item--3col:not(:first-child) {
    padding-left: 0px;
    border-left: none;
  }
  .service__promotion__item--3col:not(:last-child) {
    margin-right: 0px;
  }
  .service__promotion__item--4col {
    width: auto;
  }
  .service__promotion__item--4col:not(:first-child) {
    padding-left: 0px;
    border-left: none;
  }
  .service__promotion__item--4col:not(:last-child) {
    margin-right: 0px;
  }
  .service__promotion__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .service__promotion__circle {
    margin: 0 5px 0 0;
    width: 33%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 110px;
    height: 110px;
  }
  .service__promotion__circle p {
    font-size: 11px;
    line-height: 13px;
  }
  .service__promotion__desc {
    width: 66%;
    background-color: white;
    padding: 19px;
    font-size: 12px;
    line-height: 18px;
    border: solid 1px #707070;
  }
  .service__event {
    padding: 0 30px;
    max-width: 400px;
  }
  .service__event__title {
    font-size: 15px;
    line-height: 22px;
  }
  .service__event__title .pc-on {
    display: none;
  }
  .service__event__text {
    font-size: 13px;
    line-height: 25px;
  }
  .service__event:not(:last-child) {
    margin-bottom: 25px;
  }
  .service__sports {
    padding: 0 29px;
    font-size: 13px;
    line-height: 25px;
  }
}
.news {
  margin-bottom: 60px;
  /* pager */
}
.news__list {
  max-width: 1000px;
  margin: 0 auto 60px;
}
.news__item:not(:last-child) {
  margin-bottom: 100px;
}
.news__date {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: 25px;
  text-align: left;
  color: #074466;
  padding-bottom: 15px;
}
.news__title {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 22px;
  text-align: left;
  color: #074466;
  padding-bottom: 10px;
  border-bottom: solid 0.5px #CCCCCC;
}
.news__text {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: 30px;
  text-align: left;
  color: #000;
  margin-top: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* 任意の行数を指定 */
}
/* ページャー */
.news .pager {
  margin: 30px auto 80px;
  text-align: center;
}
.news .page-numbers {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 21px;
  border: 1px #074466 solid;
  color: #074466;
}
.news .page-numbers:not(:last-child) {
  margin-right: 10px;
}
.news .page-numbers a {
  color: #074466;
}
.news .current a {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .news {
    margin-bottom: 50px;
    padding: 0 32px;
  }
  .news__list {
    max-width: 1000px;
    margin: 0 auto 50px;
  }
  .news__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .news__date {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 5px;
  }
  .news__title {
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 15px;
    border-bottom: solid 0.5px #CCCCCC;
  }
  .news__text {
    font-size: 13px;
    line-height: 22px;
    margin-top: 15px;
  }
  /* ページャー */
  .news .pager {
    margin: 30px auto 50px;
    text-align: center;
  }
  .news .page-numbers {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
  }
}
.single-news {
  margin: 80px 0;
}

.single-news__inner {
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
}

.single-news__title {
  font-family: "Noto Sans CJK JP";
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px #ccc;
  color: #074466;
}

.single-news__date {
  font-family: "Noto Sans CJK JP";
  font-size: 16px;
  text-align: right;
  color: #074466;
  margin-bottom: 20px;
}

.single-news__content {
  font-family: "Noto Sans CJK JP";
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .single-news__title {
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .single-news__date {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .single-news__content {
    font-size: 15px;
    line-height: 23px;
  }
}
/*# sourceMappingURL=style.css.map */