.page-404 {
    &__title {
        font-weight: bold;
        font-size: 28px;
        letter-spacing: 0.15em;
        line-height: 44px;
        text-align: center;
        color: #000;
        margin-bottom: 50px;
    }
    &__txt {
        font-size: 16px;
        letter-spacing: 0.15em;
        line-height: 28px;
        text-align: center;
        color: #000;
    }
}


@media screen and (max-width:499px) {
    .page-404 {
        &__title {
            font-size: 24px;
            line-height: 36px;
        }
        &__txt {
            font-size: 14px;
            line-height: 21px;
        }
    }
}