.privacy{
    max-width: 1072px;
    margin: 60px auto;
    &__text,&__item,&__item--top,&__consultation {
        font-family: "Yu Gothic";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: left;
        color: #555;
    }
    &__item:not(:first-child){
        margin-top: 10px;
    }
    &__item,&__item--top{
        list-style-type: decimal;
        margin-left: 20px;
    }
    &__list,&__text {
        margin-top: 15px;
    }
    &__consultation{
        margin-top: 36px;
    }
    &__item--top:not(:first-child){
        margin-top: 25px;
    }
    &__ceo {
        font-family: "Yu Gothic";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: right;
        color: #555;
        margin-top: 30px;
    }
    &__title {
        font-family: "Yu Gothic";
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        text-align: left;
        color: #555;
        margin-top: 24px;
        &--big{
            font-size: 24px;
            margin-top: 30px;
        }
    }

}



@media screen and (max-width:768px) {
    .privacy{
        padding: 0 20px;
        margin: 50px auto;
        &__text,&__item,&__item--top,&__consultation {
            font-size: 14px;
            line-height: 21px;
        }
        &__list,&__text {
            margin-top: 15px;
        }
        &__consultation{
            margin-top: 30px;
        }
        &__item--top:not(:first-child){
            margin-top: 20px;
        }
        &__ceo {
            font-size: 14px;
            line-height: 21px;
            margin-top: 25px;
        }
        &__title {
            font-size: 16px;
            line-height: 16px;
            margin-top: 20px;
            &--big{
                font-size: 20px;
                margin-top: 30px;
            }
        }
    
    }
}


