<%# _head.ejs %>
<%- include('./_include/_head') %>
<%# _header.ejs %>
<%- include('./_include/_header') %>

        
        
<%# _l-contact.ejs %>
<%- include('./_include/_l-contact') %>

    
<%# _footer.ejs %>
<%- include('./_include/_footer') %>


    <!-- javascript関連 -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="./js/common.js"></script>
</body>
</html>