.faq {
        
    &__list {
        margin-bottom: 60px;
        padding: 0 15px;
    }
    //Q&A
    &__item {
        background-color: #EDF7F9;
        padding: 62px 105px;
        max-width: 1000px;
        margin: 0 auto;
    }
    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
    //質問
    &__question {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 0.5px #666666;
        padding-bottom: 27px;
        //Qアイコン
        &__icon {
            width: 50px;
            height: 50px;
            padding-right: 33px;
        }
        //質問内容
        &__title {
            width: calc(100% - 50px);
            font-family: "Noto Sans CJK JP";
            font-weight: bold;
            font-size: 20px;
            line-height: 37px;
            text-align: left;
            color: #079bdd;
        }
    }
    &__answer {
        display: flex;
        justify-content: space-between;
        padding-top: 31px;
        //Aアイコン
        &__icon {
            width: 50px;
            height: 50px;
            padding-right: 29px;
        }
        //質問の答え
        &__text {
            width: calc(100% - 50px);
            font-family: "Noto Sans CJK JP";
            font-weight: 500;
            font-size: 16px;
            line-height: 37px;
            text-align: left;
            color: #666;    
        }
    }
}


@media screen and (max-width:768px) {
    .faq {
        &__item {
            padding: 25px 30px;
        }
        &__question {
            border-bottom: none;
            padding-bottom: 20px;
            //Qアイコン
            &__icon {
                width: 30px;
                height: 30px;
                padding-right: 9px;
            }
            //質問内容
            &__title {
                width: calc(100% - 30px);
                font-size: 14px;
                line-height: 18px;
            }
        }
        &__answer {
            padding-top: 0px;
            //Aアイコン
            &__icon {
                width: 30px;
                height: 30px;
                padding-right: 9px;
            }
            //Aテキスト
            &__text {
                width: calc(100% - 30px);
                font-size: 11px;
                line-height: 18px;
            }
        }
    }
}