@charset "UTF-8";
.top-layout {
  margin-bottom: 60px;
}

.font-light-blue {
  color: #198AF9;
}

.top-news {
  margin: 0 auto 60px;
}
.top-news__table {
  max-width: 1000px;
  padding: 0 0 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  white-space: nowrap;
  border-top: solid 1px #707070;
}
.top-news__table dt, .top-news__table dt + dd {
  font-family: "Noto Sans CJK JP";
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: left;
  color: #000;
  border-bottom: solid 1px #707070;
  padding-top: 30px;
  padding-bottom: 30px;
}
.top-news__table dt {
  width: calc(30% - 22px);
  font-weight: bold;
  padding-left: 22px;
}
.top-news__table dt + dd {
  width: 70%;
  font-weight: 500;
}
.top-news__label {
  font-family: Futura;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  padding: 4px 10px;
  background-color: #FF0000;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .top-news__table {
    padding: 0 50px 40px;
    display: block;
    border-top: none;
  }
  .top-news__table dt, .top-news__table dt + dd {
    font-family: "Noto Sans CJK JP";
    letter-spacing: 0.1em;
    line-height: 22px;
    text-align: left;
    color: #333;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .top-news__table dt {
    width: auto;
    font-weight: bold;
    padding-left: 0px;
    font-size: 15px;
  }
  .top-news__table dt:first-of-type {
    padding-top: 0px;
  }
  .top-news__table dt + dd {
    width: auto;
    padding-bottom: 10px;
    border-bottom: solid 1px #707070;
    font-size: 14px;
    white-space: wrap;
  }
  .top-news__label {
    font-size: 9px;
    padding: 2px 10px;
    margin-left: 5px;
  }
}
.top-ec {
  /* 売り上げの最大化を目指して吹き出し */
}
.top-ec__consoulation {
  max-width: 1200px;
  margin: 0 auto 60px;
  background-color: #EDF7F9;
}
.top-ec__consoulation__wrapper {
  padding: 66px 0 45px;
}
.top-ec__consoulation__text {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0.1em;
  line-height: 40px;
  text-align: center;
  color: #000;
  padding: 0px 0 29px;
}
.top-ec__consoulation__label {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: left;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 24px;
  margin: 0 auto;
  padding: 18px 35px;
  background-color: #FF981D;
}
.top-ec__bg {
  width: 100vw;
  background-image: url(../img/top/top-ec-bg-pc.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.top-ec__bg--margin {
  height: 75px;
}
.top-ec__balloon {
  position: relative;
  padding: 10px 70px;
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: left;
  color: #fff;
  background-color: #FF981D;
  margin: 0 auto 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px;
}
.top-ec__balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 25px solid #FF981D;
}
.top-ec__solve {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  padding-bottom: 100px;
}

/* ECサイトのお悩みリスト */
.circle__list {
  margin: -50px auto 60px;
  display: flex;
  justify-content: center;
}
.circle__item:not(:last-child) {
  margin-right: 100px;
}
.circle__wrapper {
  position: relative;
  margin-bottom: 25px;
}
.circle__big {
  width: 270px;
  height: 270px;
  border-radius: 270px;
  background-color: #CBE6F4;
}
.circle__big__text {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.circle__little {
  width: 76px;
  height: 76px;
  border-radius: 100px;
  background-color: #FF0000;
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(0%, 0%);
}
.circle__little__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle__little__point {
  font-family: futura-pt, sans-serif;
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  color: #fff;
}
.circle__little__number {
  font-family: futura-pt, sans-serif;
  display: block;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.08em;
  line-height: 28.8px;
  text-align: center;
  color: #fff;
}
.circle__big__img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle__title {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 0.08em;
  line-height: 30px;
  text-align: center;
  color: #000;
  margin-bottom: 25px;
}
.circle__texts {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.circle__text {
  display: flex;
  justify-content: left;
  align-items: stretch;
}
.circle__text p {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.08em;
  line-height: 23px;
  text-align: left;
  color: #000;
}
.circle__text--check {
  width: 14px;
  height: 14px;
  margin: 5px 5px 0 0;
}
.circle__text:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .top-ec {
    /* 売り上げの最大化を目指して吹き出し */
  }
  .top-ec__bg {
    width: 100vw;
    background-image: url(../img/top/top-ec-bg-sp.png);
  }
  .top-ec__bg--margin {
    height: 37px;
  }
  .top-ec__balloon {
    padding: 10px 70px;
    font-size: 15px;
    color: #fff;
    background-color: #FF981D;
    margin: 0 auto 50px;
  }
  .top-ec__balloon:before {
    border: 10px solid transparent;
    border-top: 20px solid #FF981D;
  }
  .top-ec__solve {
    font-size: 19px;
    margin-top: 5px;
    padding-bottom: 28px;
  }
  .top-ec__consoulation {
    max-width: 1200px;
    margin: 0 auto 60px;
    background-color: #EDF7F9;
  }
  .top-ec__consoulation__wrapper {
    padding: 25px 0 30px;
  }
  .top-ec__consoulation__text {
    font-size: 17px;
    line-height: 25px;
    padding: 0px 0 17px;
  }
  .top-ec__consoulation__label {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 35px;
    border-radius: 0;
    text-align: center;
  }
  /* ECサイトのお悩みリスト */
  .circle__list {
    margin: 0px auto 60px;
    display: block;
    padding: 43px;
  }
  .circle__item {
    text-align: center;
  }
  .circle__item:not(:last-child) {
    margin-right: auto;
    margin-bottom: 50px;
  }
  .circle__wrapper {
    position: relative;
    margin: 0 auto 25px;
    width: 270px;
  }
  .circle__title {
    margin: 0 auto 25px;
  }
  .circle__texts {
    margin: 0 auto;
    text-align: center;
  }
}
.top-work {
  margin-bottom: 48px;
}
.top-work__text {
  margin-bottom: 45px;
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-align: center;
  color: #1e324f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 45px;
}
.top-work__slider__img {
  padding-right: 43px;
}
.top-work__slider__img:nth-child(2n) {
  padding-top: 31px;
}

@media screen and (max-width: 768px) {
  .top-work__text {
    font-size: 15px;
    line-height: 19px;
    margin: 0 auto 28px;
  }
}
/*# sourceMappingURL=top.css.map */