//全体を整える
html{
    font-size: 10px;
    color: #333;
    overflow-x: hidden;
}
.cl-green{
    color: #0088a2;
}
img{
    width: 100%;
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

//フォントの種類
$font-fututa: futura-pt, sans-serif;
$font-noto: 'Noto Sans JP', sans-serif;
$font-gothic:  yu-gothic-pr6n, sans-serif;

//margin-bottom
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-25{
    margin-bottom: 25px;
}

//pc/sp表示
.pc-on{
    display: block;
}
.sp-on{
    display: none;
}

// 背景色



@media screen and (max-width:499px) {
    .pc-on{
        display: none;
    }
    .sp-on{
        display: block;
    }

    // メニュー
    .menu-tirgger{
        width: 60px;
        height: 60px;
        background-color: #fff;
        &__wrap{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        span{
            width: 40px;
            height: 2px;
            background: #000;
            display: block;
        }
        span:nth-child(2n){
            margin: 10px 0;
        }
    }
}