// 縦ロゴ
.g-planning__logo {
    font-family: "Yu Mincho";
    font-weight: 600;
    font-size: 152px;
    line-height: 162px;
    text-align: left;
    color: #e6e6e6;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    white-space: nowrap;
}



// 企業理念
.mission {
    margin-bottom: 100px;
    position: relative;
    &__catch {
        max-width: 764px;
        margin: 45px auto;
        padding: 0 45px;
    }
    &__text {
        font-family: "Noto Sans CJK JP";
        font-weight: 500;
        font-size: 23px;
        letter-spacing: 0.07em;
        line-height: 38px;
        text-align: center;
        color: #074466;
    }

}
//レスポンシブ
@media screen and (max-width:768px) {
    // 縦ロゴ
    .g-planning__logo {
        font-family: "Yu Mincho";
        font-weight: 600;
        font-size: 50px;
        line-height: 50px;
        top: 100px;
        right: 1%;
    }

    // 企業理念
    .mission {
        margin-bottom: 60px;
        .c-secTitle{
            margin-bottom: 25px;
        }
        &__catch {
            margin: 0px auto 25px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #000;
        }

    }
}



// ご挨拶
.greeting {
    margin-bottom: 100px;
    &__bg{
        background-image: url(../img/company/greeting-pc.png);
        background-size:  cover;
        background-repeat: no-repeat;
        padding: 70px 10% 50px 2%;
        margin: 0 auto;
    }
    &__contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__left {
            margin-right: 3%;
        }
    }
    &__catch {
        font-family: "Noto Sans CJK JP";
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 0.02em;
        line-height: 25px;
        text-align: center;
        color: #fff;
        background: #3FA9F5;
        white-space: nowrap;
        padding: 9px 15px;
        display: inline-block;
    }
    &__catch:not(:last-child){
        margin-bottom: 12px;
    }
    &__text {
        font-family: "Yu Gothic";
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.1em;
        line-height: 25px;
        text-align: left;
        color: #1e324f;
        padding-bottom: 30px;
    }
    &__name {
        font-family: "Yu Gothic";
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 0.1em;
        line-height: 30px;
        text-align: right;
        color: #333;
    }
}
//レスポンシブ
@media screen and (max-width:768px) {
    // ご挨拶
    .greeting {
        margin-bottom: 100px;
        &__bg{
            background-image: url(../img/company/greeting-sp.png);
            background-size:  auto;
            background-position: center;
            padding: 55px 43px 65px ;
            margin: 0 auto;
        }
        &__contain {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__left {
                margin-right: 0%;
            }
        }
        &__text {
            font-size: 14px;
            line-height: 23px;
            text-align: left;
            color: #fff;
            padding-bottom: 23px;
        }
        &__name {
            font-size: 14px;
            line-height: 14px;
            text-align: left;
            color: #fff;
        }
    }
}




//企業概要
.about {
    position: relative;
    &__bg {
        background-color: #EDF7F9;
        margin-left: 7%;
        width: calc(100% - 40px);
        height: 1100px;
    }
    &__wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__table {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        white-space: nowrap;
        border-top: solid 1px #707070;
        dt,dt+dd{
            font-family: "Noto Sans CJK JP";
            font-size: 17px;
            letter-spacing: 0.1em;
            line-height: 30px;
            text-align: left;
            color: #333;
            border-bottom: solid 1px #707070;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        dt:last-of-type,dd:last-of-type{
            border-bottom: none;
        }
        dt{
            width: calc(30% - 22px);
            font-weight: bold;
            padding-left: 22px;
        }
        dt+dd{
            width: calc(100% - 30%);
            font-weight: 500;
        }
        
        
    }
    
}
//レスポンシブ
@media screen and (max-width:768px) {
    //企業概要
    .about {
        position: static;
        .c-secTitle {

        }        
        &__wrapper{
            position: static;
            top: 0%;
            left: 0%;
            transform: translate(-0%, -0%);
            padding: 0;
        }
        &__table {
            padding: 40px 32px;
            display: block;
            flex-wrap: nowrap;
            border-top: none;
            background-color: #EDF7F9;
            width: auto;
            white-space: normal;
            dt,dt+dd{
                font-family: "Noto Sans CJK JP";
                letter-spacing: 0.1em;
                line-height: 22px;
                text-align: left;
                color: #333;
                border-bottom: none;
                padding-top: 10px;
                padding-bottom: 00px;
            }
            dt:last-of-type,dd:last-of-type{
                border-bottom: none;
                border-bottom: none;
            }
            dt{
                width: auto;
                font-weight: bold;
                padding-left: 0px;
                font-size: 15px;
            }
            dt+dd{
                width: auto;
                padding-bottom: 10px;
                border-bottom: solid 1px #707070;
                font-size: 14px;
            }           
            
        }
    }

}



//アクセス
.access {
    margin: 70px auto 0;
}

.access__map {
    width: 100%;
    height: 570px;
}
//レスポンシブ
@media screen and (max-width:768px) {
    //アクセス
    .access {
        margin: 50px auto 0;
    }
    .access__map {
        height: 310px;
    }

}
